body{
    background-color: lightslategray;
    overflow: hidden;
    height: 100%;
    margin: 10;
}

#titulo{
    background-color: #83bded;
    border-style: solid;
    border-color: black;
    text-align: center;
}

#map {
    margin-top: 10px;
    height: 800px;
    width: 60%px;
    border-style: solid;
    border-width: large;
}
#info {
    margin-top: 1em;
    border-style: solid;
    border-width: large;
    padding: 10px;
    margin-top: 10px;
    background-color:  #83bded;
}
#info p{
    
    font-size: 20px;
}
.mycontainer {
    display: flex;
    gap: 1em;
}
.map-container {
    flex: 2;
}
.text-container {
    margin-top: 10px;
    flex: 1;
    background-color: #83bded;
    padding: 10px;
    border-style: solid;
}

.text-container p{
    font-size: 30px;
}

